# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/

# Tooling
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
uv.lock
*Zone.Identifier
